body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('GRq19yXaUAA5yVl.jpg') no-repeat center center fixed; /* Updated background image */
    background-size: cover;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(52, 73, 94, 0.3); /* Dark background with more transparency */
    padding: 10px 20px; /* Reduce padding to make the background smaller */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0.8; /* Make the logo translucent */
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Add margin to separate buttons */
}

button:hover {
    background-color: #2980b9;
}





